extends ../layout/layout.pug
block title
  title main
block styles
  link(rel="stylesheet", href="../css/main.css")
block scripts
  script(src="../script/main.js")

block body
  body
    label hhha
    #sys-info
