<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width")
    meta(name="format-detection" content="telephone=no,email=no,date=no,address=no")
    title index
    link(rel="stylesheet" type="text/css" href="./css/api.css")
    link(rel="stylesheet" type="text/css" href="./css/index.css")
  body.wrap
    header APICloud
    section.flex-1
    footer
      | Copyright &copy;
      span#year

    script(type="text/javascript" src="./script/vendors/api.js")
    script(src="./script/index.js")
